<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="~{fragments/head::head}"></head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header th:insert="~{fragments/header::header}"></header>
    <!-- end header section -->
  </div>

  <section class="book_section layout_padding">
    <div class="container text-white">
      <p>
        <div sec:authorize="isAuthenticated()">
          <h3>Welcome, <span th:text="${user.getUserId()}"></span>!</h3></br>
        </div>
        <h4>Experience a single platform to purchase tickets to watch latest movies, to buy movies for your theatre and to distribute your movies!!!</br></h4>
      </p>
      <div sec:authorize="hasAnyAuthority('THEATRE_OWNER')">
        <p><span th:text="${user.getRole().getPurpose()}"></span>? Use the below buttons.</br>
        <a href="theatre/add"><button type="button" class="btn btn-primary">Add Theatre</button></a></p>
      </div>
      <div sec:authorize="hasAnyAuthority('MOVIE_DISTRIBUTOR')">
        <p><span th:text="${user.getRole().getPurpose()}"></span>? Use the below buttons.</br>
        <a href="movie/add"><button type="button" class="btn btn-primary">Add Movie</button></a></p>
      </div>
      <div sec:authorize="hasAnyAuthority('ADMIN')">
        <p><span th:text="${user.getRole().getPurpose()}"></span>? Use the below buttons.</br>
        <a href="theatre/add"><button type="button" class="btn btn-primary">Add Theatre</button></a>
        <a href="movie/add"><button type="button" class="btn btn-primary">Add Movie</button></a></p>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    
  </section>
  <footer th:insert="~{fragments/footer}"></footer>
  <!-- footer section -->       
  
</body>


</html>